/*
 * ─── BASE ───────────────────────────────────────────────────────────────────────
 */
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color: #252b42;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	background: #fafafa;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 1045px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
	/* ! Чтобы избежать прилипания контента при изменении размера страницы можно:
		- добавить падинги и включить их размер в общий размер для box-sizing: border-box 
		- только добавить падинги для box-sizing:content-box
	*/
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*
 * ─── HEADER ─────────────────────────────────────────────────────────────────────
 */

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
}
.header__menu {
	margin: 0 0 0 132px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
}
.menu {
	/* Увеличение надежности - отступ безопасности */
	padding: 5px 0;
}
.menu__list {
	display: flex;
	/* Увеличение надежности - изменение размеров страницы не поломает ее  */
	flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0 21px 0 0;
}
.menu_link {
	color: #737373;
	line-height: calc(24 / 14);
}
@media (max-width: 479px) {
	.menu_link {
		font-size: 18px;
	}
}

/*
 * ─── MAIN ─────────────────────────────────────────────────────────────────────
 */
.main {
	flex: 1 1 auto;
}
.main__face-page {
}
.main__services {
	position: relative;
	z-index: 2;
	/* Карточки "Services" смещаются именно таким способом по причине того, что
	контент следующий за ними будет следовать за ними  */
	margin: -111px 0 0 0;
}
.main__achievements {
}
.main__advice {
}
.main__cutaway {
}
/*
 * ─── HEADER-BLOCK ───────────────────────────────────────────────────────────────
 */

.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}
.header-block > *:not(:last-child) {
	margin-bottom: 10px;
}
.header-block__title {
	font-size: 40px;
	line-height: calc(57 / 40);
	font-weight: 700;
}
.header-block__subtitle {
	line-height: calc(20 / 14);
	color: #737373;
}
@media (max-width: 640px) {
	.header-block__title {
		font-size: 30px;
		line-height: calc(57 / 40);
		font-weight: 700;
	}
}
/*
 * ─── FACE-PAGE ──────────────────────────────────────────────────────────────────
 */

.face-page {
	position: relative;
}
.face-page__container {
}

.face-page__body {
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 400px;
	/* max-width: 509px; */
}
.face-page__body > *:not(:last-child) {
	margin: 0 0 35px 0;
}
@media (max-width: 1120px) {
	.face-page__body {
		padding: 120px 0 191px 0;
	}
}

.face-page__title {
	font-size: 58px;
	letter-spacing: 0.2px;
	font-weight: 800;
	line-height: calc(80 / 58);
}
@media (max-width: 479px) {
	.face-page__title {
		font-size: 42px;
	}
}
.face-page__text {
	font-size: 20px;
	letter-spacing: 0.2px;
	line-height: calc(30 / 20);
	/* max-width: 376px; */
	color: #737373;
}
@media (max-width: 479px) {
	.face-page__text {
		color: #444444;
	}
}
.face-page__buttons {
	display: inline-flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
@media (min-width: 480px) {
	.face-page__buttons > *:not(:last-child) {
		margin-right: 10px;
	}
}
.face-page__button {
	font-weight: 700;
	letter-spacing: 0.2px;
	line-height: calc(28 / 14);
	text-align: center;
	color: white;
	background: #ff7b47;
	border-radius: 37px;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 36px;
	min-height: 48px;
	margin: 10px 0;
}
@media (max-width: 479px) {
	.face-page__button {
		flex: 1 1 100%;
	}
}
.face-page__button-more {
	color: #0d5c63;
	border: 1px solid #0d5c63;
	background: transparent;
}
.face-page__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 1300px) {
	.face-page__image img {
		object-position: right;
	}
}
@media (max-width: 1120px) {
	.face-page__image img {
		opacity: 0.3;
	}
}

/*
 * ─── SERVICES ───────────────────────────────────────────────────────────────────
 */

.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		/* ? Разобраться более подробно */
		margin: 0 -15px;
	}
}
.services__column {
	flex: 0 1 33.333%;
}

@media (min-width: 670px) {
	.services__column {
		/* ? Разобраться более подробно */
		padding: 0 15px;
	}
}
@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0 0 30px 0;
	}
	.services__column:last-child {
		flex: 0 1 100%;
	}
}
@media (max-width: 640px) {
	.services__column:not(:last-child) {
		margin: 0 0 15px 0;
	}
}
.services__item {
	/* ? Можно использовать совместно с wrap */
	/* min-width: 300px; */
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: white;
	padding: 35px 40px;
	height: 100%;
}
@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}
.item-services {
}
.item-services_green {
	background: #0d5c63;
}
.item-services_green .item-services__title,
.item-services_green .item-services__text {
	color: white;
}
.item-services > *:not(:last-child) {
	margin: 0 0 10px 0;
}
.item-services__icon {
}
.item-services__title {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.1px;
	line-height: calc(32 / 24);
}
.item-services__text {
	letter-spacing: 0.1px;
	line-height: calc(20 / 14);
	color: #737373;
}

/*
 * ─── ACHIEVEMENTS ───────────────────────────────────────────────────────────────
 */

.achievements {
	padding: 80px 0;
}
@media (max-width: 640px) {
	.achievements {
		padding: 40px 0;
	}
}
.achievements__container {
}
.achievements__header {
	margin: 0 0 50px 0;
}
@media (max-width: 640px) {
	.achievements__header {
		margin: 0 0 20px 0;
	}
}
/* * HEADER-BLOCK */
.achievements__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
}
@media (max-width: 640px) {
	.achievements__body {
		margin: 0 -15px -15px;
	}
}
.achievements__column {
	padding: 0 15px;
	margin: 0 0 30px 0;
	flex: 0 1 25%;
}
@media (max-width: 1035px) {
	.achievements__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 640px) {
	.achievements__column {
		margin: 0 0 15px 0;
		flex: 0 1 100%;
	}
}
.achievements__item {
	padding: 30px;
	/* * Баг макета */
	/* padding: 30px 40px; */
}
@media (max-width: 640px) {
	.achievements__item {
		padding: 20px;
	}
}
.item-achievement {
	background-color: white;
	text-align: center;
	font-weight: 700;
	height: 100%;
}

.item-achievement > *:not(:last-child) {
	margin: 0 0 10px 0;
}
.item-achievement__icon {
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-achievement__value {
	font-weight: 700;
	font-size: 40px;
	line-height: calc(57 / 40);
	letter-spacing: 0.2px;
}
@media (max-width: 640px) {
	.item-achievement__value {
		font-size: 30px;
	}
}
.item-achievement__text {
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.1px;
	color: #737373;
}

/*
 * ─── ADVICE ─────────────────────────────────────────────────────────────────────
 */

.advice {
	padding: 125px 0 80px;
}
@media (max-width: 1040px) {
	.advice {
		padding: 0px 0 80px;
	}
}

.advice__container {
}

.advice__header {
	margin: 0 0 45px 0;
}
@media (max-width: 630px) {
	.advice__header {
		margin: 0 0 20px 0;
	}
}

/* * HEADER-BLOCK */

.advice__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
}
@media (max-width: 630px) {
	.advice__body {
		margin: 0 -15px -15px;
	}
}
.item-advice__column {
	padding: 0 15px;
	margin: 0 0 30px 0;
	flex: 0 1 25%;
}
@media (max-width: 1040px) {
	.item-advice__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.item-advice__column {
		margin: 0 0 15px 0;
		flex: 0 1 100%;
	}
}
.advice__item {
}
.item-advice {
	background-color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.item-advice__info-advice {
}
.info-advice {
	padding: 30px;
	flex: 1 1 auto;
}
@media (max-width: 630px) {
	.info-advice {
		padding: 15px;
	}
}
.info-advice > *:not(:last-child) {
	margin: 0 0 15px 0;
}
.info-advice__header {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.1px;
}
.info-advice__text {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(20 / 14);
	letter-spacing: 0.2px;
	color: #737373;
}

.item-advice__img {
	padding: 0 0 60% 0;
}
.item-advice__img img {
	/* width: 100%; */
}

/*
 * ─── CUTAWAY ────────────────────────────────────────────────────────────────────
 */

.cutaway {
	padding: 100px 0 136px;
	background-color: white;
}
@media (max-width: 960px) {
	.cutaway {
		padding: 50px 0 50px;
	}
}
@media (max-width: 650px) {
	.cutaway {
		padding: 15px 0 50px;
	}
}
.cutaway__container {
}
.cutaway__header {
	margin: 0 0 100px 0;
}
@media (max-width: 960px) {
	.cutaway__header {
		margin: 0 0 30px 0;
	}
}
@media (max-width: 650px) {
	.cutaway__header {
		margin: 0 0 15px 0;
	}
}
.cutaway__body {
	display: flex;
	align-items: flex-start;
	/* justify-content: space-between; */
}
@media (max-width: 960px) {
	.cutaway__body {
		flex-direction: column-reverse;
		/* * Необходимо для того, чтобы видео не пропадало при переразметке */
		/* * Т.к. до этого был flex-start, то видео прижималось к левому краю */
		align-items: stretch;
	}
}

.cutaway__vido {
	flex: 0 0 57%;
	position: relative;
	padding: 0 0 42.25% 0;
}
@media (max-width: 960px) {
	.cutaway__vido {
		padding: 0 0 56.25% 0;
	}
}
.cutaway__vido:not(:last-child) {
	margin: 30px 0 0 0;
}
.cutaway__vido iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.cutaway__content {
	/* * Необходимо для того, чтобы контент занимал 
	100% ширины в случае отсутствия видео */
	flex: 1 1 auto;
	padding: 0 0 0 121px;
}
@media (max-width: 1080px) {
	.cutaway__content {
		padding: 0 0 0 40px;
	}
}
@media (max-width: 960px) {
	.cutaway__content {
		padding: 0;
	}
}

.content-cutaway {
}

.content-cutaway__header {
	text-align: left;
	padding: 20px 0;
}
@media (max-width: 1080px) {
	.content-cutaway__header {
		padding: 0;
	}
}
.content-cutaway__header:not(:last-child) {
	margin-bottom: 30px;
}

.content-cutaway__items {
}

.content-cutaway__item:not(:last-child) {
	margin: 0 0 30px 0;
}
.item-content-cutaway {
	display: flex;
	/* justify-content: space-between; */
}
.item-content-cutaway__icon {
	flex: 0 0 32px;
}
.item-content-cutaway__body {
	padding-left: 20px;
}

.item-content-cutaway__title {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: 0.1px;
}
.item-content-cutaway__text {
	margin: 5px 0 0 0;
	font-weight: 600;
	font-size: 14px;
	line-height: calc(24 / 16);
	letter-spacing: 0.2px;
	/* * Позволяет установить многоточие для слишком длинного текста */
	/* ! Изучить, как исправить ситуацию ограничения ширины */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 225px;
}

/*
 * ─── FOOTER ─────────────────────────────────────────────────────────────────────
 */
.footer {
}
